<html>
    <head>
        <title>Petya's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Petya's First Blog</a></h1>
        </div>

        <div>
            <p>published: 15.09.2018, 12:14</p>
            <h2><a href="https://giphy.com/gifs/happy-smile-smiley-face-Lb4IZLmCfALhm">My first post</a></h2>
            <p>Hello! How are you? Time for coffee?</p>
            <em>Does this work?</em>
        </div>

        <div>
            <p>published: 15.09.2018</p>
            <h2><a href="http://devinit.org/post/people/petya-kangalova/">My DI work profile.</a></h2>
            <p>Yey!!</p>
        </div>
    </body>
</html>
